.Comments {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 2rem;
  background-color: rgba(235, 235, 235, 0.582);
}

.Comments-Content {
  width: 100%;
  max-height: 15rem;
  overflow-y: scroll;
}

.Comments-Content h1 {
  font-size: 3rem;
  font-weight: 400;
}

.Comments-Form {
  width: 50%;
  display: flex;
  justify-content: center;
}

.Comment {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.Comment-Delete {
  background: none;
  border: none;
  outline: none;
  color: red;
  font-size: 2rem;
  cursor: pointer;
}

.Comment-Delete:hover {
  font-weight: 600;
}

.Comment-Text {
  font-size: 2rem;
}