.Navbar {
  display: flex;
  width: 100vw;
  height: 5rem;
  background-color: rgb(79, 79, 255);
  color: white;
  align-items: center;
}

.Navbar-Title {
  display: flex;
  justify-self: flex-start;
  margin-left: 1rem;
}

.Navbar-Title a {
  text-decoration: none;
  color: white;
  font-size: 3rem;
}

.Navbar-Links {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 5rem;
}

.Navbar-Links a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  margin-left: 1rem;
}